{% extends  'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="dropdown">
        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
            Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            {% include "AppBundle::includes/menu-links.html.twig" with {'links':links} only %}
        </ul>
    </div>
</div>
{% endblock body %}

