/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/node_modules/
/bower_components/
/web-src/
/web/media/