{% extends 'AppBundle:admin:base_admin.html.twig' %}

{% block body %}

    <h1>Редактировать район</h1>
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ include('@App/admin/district/_form.html.twig', {
        form: edit_form,
        button_label: 'Сохранить',
        include_back_to_home_link: true,
    }, with_context = false) }}

{% endblock %}

