{% for link in links %}
    {% if not link.__children %}
        <li><a href="#">{{ link.title }}</a>
    {% else %}
        <li><a href="#">{{ link.title }} <span class="fa arrow"></span></a>
    {% endif %}

    {% if link.__children %}
        <ul class="nav nav-second-level">
            {% include "AppBundle::includes/menu-links.html.twig" with {'links': link.__children} %}
        </ul>
        {% endif %}
        </li>
{% endfor %}