{% for link in links %}
    {% set title = link.title %}
    {% if not link.__children %}
        <li class="ind"><a href="{{ path(link.url, {'slug': link.title}) }}">{{ title|trans }}</a>
    {% else %}
        <li class="ind"><a href="#">{{ title|trans }} <span class="fa arrow"></span></a>
    {% endif %}
    {% if link.__children %}
        <ul class="nav">
            {% include "AppBundle::includes/menu-links.html.twig" with {'links': link.__children} %}
        </ul>
        {% endif %}
        </li>
{% endfor %}