<!--includes/menu-links.html.twig-->
{% for link in links %}
    {% if link.__children %}
        <li class="dropdown-submenu">
    {% else %}
        <li>
    {% endif %}
    <a href="#">{{ link.title }}</a>
    {% if link.__children %}
        <ul class="dropdown-menu">
            {% include "AppBundle::includes/menu-links.html.twig" with {'links': link.__children} %}
        </ul>
    {% endif %}
    </li>
{% endfor %}