{% for category in categories %}
    {% set title = category.title %}
    {% if category %}
        <tr>
            <td>
                {% for i in 0..category.lvl %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
                {{ category.title|trans }}</td>
            <td>Вверх</td>
            <td>Вниз</td>
            <td>
                <div class="item-actions">
                    <a href="{{ path('homepage') }}" class="btn btn-sm btn-default">
                        Удалить </a>
                    <a href="{{ path('homepage') }}" class="btn btn-sm btn-default">
                        <i class="fa fa-edit"></i> Изменить </a>
                </div>
            </td>
        </tr>
    {% endif %}
    {% if category.__children %}
        {% include "@App/admin/category/categories_recursive.html.twig" with {'categories': category.__children} %}
    {% endif %}
{% endfor %}